RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(?!api/|admin/|detail/|search/)(.*)$ index.php?page=$1 [L,QSA]
RewriteRule ^api/(.*)$ router/route.php/$1 [L,QSA]
RewriteRule ^admin/(.*)$ admin/index.php?page=$1 [L,QSA]
RewriteRule ^detail/(\d+)/(\d+)/(.+)$ index.php?page=detail&idType=$1&idProduct=$2&nameProduct=$3 [L,QSA]
RewriteRule ^search/(.*)$ index.php?page=search&value=$1 [L,QSA]
