.slideshow-container{
    width:100%;
    height:500px;
    display:flex;
    justify-content: space-around;
    margin:2% 0;
}
.slideShowImages{
    width:80%;
    height:100%;
    transition: all .3s linear;
}
.slideShowImages img{
    width:100%;
    height:100%;
    opacity: 1;
    object-fit: contain;
    transition: opacity .3s linear;
}
.buttonSlide{
    width:10%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.next,.prev{
    width:100%;
    height:30px;
    display: flex;
}
.next svg,.prev svg{
    width:100%;
    height: 100%;
    cursor: pointer;
}
.next:hover svg path, .prev:hover svg path{
    fill:rgb(6, 83, 198);
}
h1{
    color: rgb(55, 68, 109);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:5%;
    text-align: center;
}