.userPage{
    width:90%;
    min-height:400px;
    height:auto;
    display:flex;
    justify-content: center;
    margin:2% auto;
}
#getUser,#items{
    width:50%;
    height: 100%;
    display:flex;
    justify-content: center;
}
#getUser{
    flex-direction: column;
}
#information{
    width:100%;
    height: 50%;
    display:flex;
    justify-content: center; 
    margin-bottom:5%;
}
#bought{
    width: 100%;
    min-height: 575px;
}
.userDetail{
    width:90%;
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userImg{
    width:100%;
    height:70px;
    display: flex;
    justify-content: center;
    margin: 0 0 5% 0;
}
.userName,.email{
    width:70%;
    height:50px;
    margin:2% 0;
    padding:0 0 0 2%;
    border: solid 2px;
    border-radius:10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.userName span,.email span{
    margin: 0 2%;
    font-weight: 550;
    color:rgb(80, 115, 230)
}
.userName input,.email input{
    width:95%;
    height:100%;
    background-color:transparent;
    border:none;
    outline:none;
    font-weight: 500;
    font-size: 18px;
}
.change button{
    width: 250px;
    height: 40px;
    outline: none;
    border:none;
    border-radius:10px;
    font-size: 16px;
    font-weight: 550;
    background-color: rgb(88, 101, 130);
    color:#fff;
    cursor: pointer;
}
.change button:hover{
    background-color: rgb(101, 138, 218);
    transition: all .3s linear;
}

#items{
    flex-direction: column;
}

#items h1{
    text-align: center;
    color:#03207e
}
#items .items{
    width:100%;
    min-height: 100px;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-bottom:solid 1px;
}#items .items .itemsImg{
    width:30%;
    height:100%;
}
#items .items .itemsImg img,#viewPurchase .items .itemsImg img{
    width:50%;
    height: 100%;
    object-fit: contain;
}
#items .items .itemsContent{
    width:70%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
}
.itemsContent .itemsTitle,.itemsContent .itemsPrice{
    width: 50%;
    min-height:30px;
    font-size: 20px;
    font-weight: 550;
    color:#2f2a87;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination{
    width:80%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}
.buttonPage{
    width:370px;
    min-width: 60px;
    height:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.buttonPage button{
    width:45px;
    height: 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.buttonPage .active{
    background-color: rgb(90, 110, 154);
    color: #fff;
}
.nextPage,.prevPage{
    display:flex;
    align-items: center;
    justify-content: center;
    width:5%;
    height:50%;
    background-color: #ffffff;
    margin:0 2%;
    border-radius:10px;
    cursor: pointer;
    color: #000000;
}
#nextPrev{
    display:flex;
    align-items: center;
    justify-content: center;
    width:5%;
    height:50%;
    background-color: #ffffff;
    margin:0 2%;
    border-radius:10px;
    cursor: pointer;
    color: #000000;
}