
#viewCart{
    width:80%;
    min-height:60vh;
    height:auto;
    margin: 0 auto;
}
#viewCart h1{
    text-align: center;
    color:#03207e
}
#viewCart .items{
    width:100%;
    min-height: 100px;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-bottom:solid 1px;
}
#viewCart .items .itemsImg img,#viewPurchase .items .itemsImg img{
    width:50%;
    height: 100%;
    object-fit: contain;
}
#viewCart .items .itemsContent{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.itemsContent .itemsTitle,.itemsContent .itemsPrice{
    width: 100%;
    min-height:30px;
    font-size: 20px;
    font-weight: 550;
    color:#2f2a87;
    display:flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.items .button{
    width:20%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.button button{
    width:30px;
    height:30px;
    border:none;
    outline:none;
    cursor: pointer;
    border-radius:5px;
}
.button .viewCount{
    width:30%;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.delete{
    width:10%;
    height:30px;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe8e8;
    cursor: pointer;
}
.button button:hover, .delete:hover{
    background-color: #6b7d99;
    color:#fff
}
.btn{
    width:100%;
    min-height:50px;
    display: flex;
}
#purchase,#clearAll{
    width:50%;
    min-height:50px;
    height:auto;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
#purchase button,#clearAll button{
    width:150px;
    height: 30px;
    outline: none;
    border-radius:5px;
    border: none;
    background-color: #567090;
    color:#fff;
    font-size:20px;
    cursor: pointer;
}
#purchase button:hover{
    background-color: #5f99e0;
}




.purchase{
    width:100%;
    min-height:60vh;
    height: auto;
    display:flex;
    justify-content: space-around;
    padding: 0 0 5% 0;
}
#viewPurchase{
    width:66%;
    min-height:60vh;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#viewPurchase .items{
    width:300px;
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border:none;
    cursor: pointer;
    background-color: #ededed;
    margin:1%;
    border-radius:10px;
}
#viewPurchase .items .itemsImg{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
}
#viewCart .items .itemsImg{
    width:20%;
    height:100%;
}
#viewPurchase .items .itemsContent{
    width:100%;
    height:50%;
    display:flex;
    flex-direction: column;
    padding:0 2%;
}
.viewUser{
    width:30%;
    display: flex;
    flex-direction: column;
}
.viewUser #user{
    width:100%;
    height: 200px;
    
}
#viewPurchase .items .itemsContent .itemsTitle{width:95%;}
.viewUser #user .getUser{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.getUser input{
    width: 98%;
    height:50px;
    padding:0 0 0 1%;
    border-radius:10px;
    border:solid 1px;
    outline:none
}
#city,#district{
    width:100%;
    height:8%;
    outline:none;
    border:none;
    border-radius:5px;
    background-color: #dad8d8;
    color: #03207e;
    margin:3% 0;
}
.addressDetail{
    width:100%;
    height:50px;
}
.addressDetail input{
    width: 100%;
    height: 100%;
    outline: none;
    border-radius:10px;
    border:solid 1px;
    padding: 0 0 0 2%;
}
.payment{
    width: 100%;
    min-height:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.payment h2{
    text-align: center;
}
.methods{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 550;
}
.ship,.total{
    width: 100%;
    min-height:50px;
    display: flex;
    align-items: center;
    font-size: 22px;
}
.ship span,.total span{
    font-size: 22px;
    font-weight: 550;
}
.buy{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin:0 auto;
    cursor: pointer;
    background-color: #5580d4;
    color:#fff;
    font-weight: 550;
    font-size: 20px;
}


