.productDetail{
    width:100%;
    height:auto;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}
.detailImage,.detailContent{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
}
.detailContent{
    flex-direction: column;
}
.detailImage img{
    width:50%;
    height: 50%;
    
}
.detailTitle{
    width:95%;
    min-height: 70px;
    height:auto;
}
.viewType, .comment{
    width: 100%;
    min-height: 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:2%;
}

.viewType h1, .comment h1{
    text-align: center;
}
#productType, #viewComment{
    width:80%;
    min-height: 150px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#viewComment{
    flex-direction: column;
}
.viewType #productType .items{
    width:20%;
    min-width: 150px;
    height:200px;
}
.viewType #productType .items .itemsImg{
    width:100%;
    height:40%;
    display: flex;
    justify-content: center;
}
.viewType #productType .items .itemsImg img{
    width:50%;
    height:100%;
}
.viewType #productType .items .itemsTitle{
    width: 100%;
    min-height: 50px;
    color: #2f2a87;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
}
#productType .items .button{
    width:100%;
    height:40px;
}
#productType .items .button button {
    width:30%;
    height:70%;
    outline: none;
    border:none;
    border-radius:5px;
    cursor: pointer;
    font-size:15px;
    font-weight: 550;
    background-color: rgb(223, 227, 229);
    color: #000;
}
#productType .items .button button:hover,#productType .items .button button:nth-child(1):hover{
    background-color: rgb(79, 113, 187);
    color:#fff;
    transition: all .2s linear;
}
#productType .items .button button:nth-child(1){
    width:65%;
    background-color: rgb(88, 101, 130);
    color: #fff;
}
.detailDescribe{
    min-width: 150px;
    width:600px;
    min-height:100px;
    height:auto;
    font-size: 20px;
    font-weight: 550;
    margin:5% 0;
}
.writeComment{
    width:80%;
    height:200px;
    margin:0 auto;
}
.child{
    width:100%;
    height:100%;
    display: flex;
}
.child .itemsImg{
    width:20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child .itemsImg img{
    width:150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
    border:solid 1px;
}
.commentValues{
    width:80%;
    height: 100%;
}
.commentValues .commentValue{
    width:99%;
    height: 30%;
    display: flex;
    align-items: center;
}
.commentValues .commentValue input{
    width: 100%;
    height: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 600;
}
.pushComment{
    width:150px;
    height: 40px;
    margin:5% 0 0 0;
}
.pushComment button{
    width: 100%;
    height: 100%;
    border-radius:10px;
    border:none;
    outline:none;
    font-size: 20px;
    font-weight: 550;
    background-color: rgb(88, 101, 130);
    color: #fff;
    cursor: pointer;
}
.pushComment button:hover{
    background-color: rgb(79, 113, 187);
    
}



#viewComment .items{
    width:100%;
    min-height: 200px;
    height: auto;
    display:flex;
    align-items: center;
}
#viewComment .items .itemsImg{
    width:70px;
    height: 70px;
    margin:0 2%;
}
#viewComment .items .itemsImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1px;
}
#viewComment .items .commentContent{
    width:90%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
}
.commentUser,.commentDate{
    width:25%;
    height:30px;
    display: flex;
    align-items: center;
}
.commentUser{
    font-size: 18px;
    font-weight: 600;
}
.commentValue{
    width:100%;
    height:80%;
    border-radius:10px;
    border:solid 2px;
    padding:0 1%;
}